@mixin custemTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: clamp(30px, 1.42rem + 2.27vw, 50px);

  & h2 {
    font-family: var(--font-assist);
    font-size: 36px;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #86cdf7 0%, #35aff4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include mediaMobileS {
      text-align: center;
    }
  }
}

@mixin mediaHover {
  @media (hover: hover) {
    @content;
  }
}

@mixin ultraHD {
  @media (max-width: 2560px) {
    @content;
  }
}

@mixin mediaLaptop {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin mediaTablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin mediaMobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mediaMobileS {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin mediaMobileXS {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin mediaMobileXXS {
  @media (max-width: 319px) {
    @content;
  }
}
